/* Landscape styles  */
@media only screen and (min-width: 1080px) {
  html,
  body,
  #root,
  .container,
  .wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    clear: both;
  }
  .wrapper {
    width: 100vw;
    top:0;
    left:0;
  }

  .toolbar {
    display: block;
    width: 100%;
    padding: 25px;
    text-align: center;
    box-sizing: border-box;
  }
  .logo {
      width: 250px;
      height: 250px;
  }
  .toolbar h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-family: "Lora", serif;
    font-weight: lighter;
  }
  .content {
    clear: both;
    font-family: "Quicksand", sans-serif;
    text-align: center;
  }
  .results {
    height: 100%;
    clear: both;
    transition: all 0.3s ease-in;
  }
  .results:hover {
      /* opacity: 0.3; */
      transform: scale(0.95);
  }
  .toolbar ul {
    display: block;
    margin: auto;
    padding: 0;
    list-style: none;
    transition: all 0.3s ease-out;
  }
  .navLink {
    margin: 25px;
    font-family: "Quicksand", sans-serif;
    font-size: 35px;
    transition: all 0.3s ease-out;
  }
  .navLink:hover {
    cursor: pointer;
    color: #eb3d00;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .footer {
    display: none;
    width: 100%;
    height: 30px;
    margin: 0;
    padding-top: 7px;
    box-sizing: border-box;
    clear: both;
    position: relative;
    bottom: 0;
    color: white;
    text-align: center;
    background-color: #eb3d00;
  }
  .footer p {
    margin: 0;
    box-sizing: border-box;
  }

  /* Result container styles */
  .productContainer {
    width: 33.333333%;
    margin: auto;
    height: 300px;
    display: flex;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-in;

  }
  .productContainer:hover {
      transform: scale(1.1);
      /* opacity: 2.0 !important; */
  }
  .productContent {
    box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.34);
    position: relative; 
    width: 95%;
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
  }
  .productContent p, h3 {
      margin: 2px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .imageDiv img {
    width: 180px;
    height: 240px;
    margin-top: 20px;
    margin-left: 20px;
    object-fit: cover;
    background-size: cover;
    overflow: none;
    float: left;
    border-radius: 20px;
  }
  .contentSpecs {
      margin-top: 5%;
      position: absolute;
      right: 15%;
      bottom: 25px;
  }
  .contentInfoDiv h2 {
      vertical-align: middle;
      height: 25;
  }
  .contentInfoDiv h2,
  h3 {
    color: #eb3d00;
  }
  /* Closer product view styles */
  .shadowingBox {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .closerProductView {
    box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.34);
    background-color: rgb(226, 226, 226);
    width: 730px;
    height: 300px;
    margin-left: -365px;
    border-radius: 20px;
    position: fixed;
    top: 33%;
    left: 50%;
  }
  .closerProductView h2 {
    color: #eb3d00;
    font-family: "Quicksand", sans-serif;
  }
  .closerProductView p {
    font-family: "Quicksand", sans-serif;
  }

  .realContent {
    width: 70%;
    height: 100%;
    float: left;
  }
  .closerImageDiv img {
    width: 25%;
    height: 100%;
    margin-top: 50px;
    margin-left: 30px;
    float: left;
    border-radius: 20px;
  }

  .textInfo {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    width: 150px;
    text-align: center;
  }

  .info {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    width: 150px;
    text-align: center;
  }

  .recommends {
    width: 30%;
    height: 100%;
    float: right;
    background-color: #eb3d00;
    background: linear-gradient(#eb3d00 10%, #ffa382 80%);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
  }
  .recommends h2 {
    margin-top: 30px;
    color: black;
  }

  .recImageDiv img {
    width: 60%;
    height: 100%;
    border-radius: 20px;
  }
}

/* Phone styles */
@media only screen and (max-width: 1079px) {
  html,
  body,
  .container {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 100vw;
    height: 98vh;
  }
  .toolbar {
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 35%;
    clear: both;
    box-sizing: border-box;
    background-color: #eb3d00;
  }
  .logo {
    width: 250px;
    margin-top: -80px;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
}
  .toolbar h1 {
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 40px;
    font-family: "Lora", serif;
    font-weight: lighter;
  }
  .content {
    display: block;
    font-family: "Quicksand", sans-serif;
    text-align: center;
  }
  .toolbar ul {
    display: block;
    width: 100vw;
    margin-top: -90px;
    padding: 0;
    list-style: none;
  }
  .navLink {
    display: inline-block;
    width: 50%;
    margin: 0 auto 0 auto;
    padding: 15px 5px;
    box-sizing: border-box;
    border: solid 1px rgb(230, 230, 230);
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    transition: all 0.3s ease-out;
    background-color: rgb(240, 240, 240);
  }
  .footer {
    display: block;
    width: 100%;
    height: 30px;
    margin: 0;
    padding-top: 7px;
    box-sizing: border-box;
    clear: both;
    position: relative;
    bottom: -60px;
    color: white;
    text-align: center;
    background-color: #eb3d00;
  }
  .footer p {
    margin: 0;
    box-sizing: border-box;
  }
  .productContainer {
    display: flex;
    width: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
  }
  .productContent {
    width: 95%;
    margin: auto;
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
  }
  .imageDiv {
      width: 90%;
      margin: 15px auto;
      margin-bottom: 0;
      background-color:white;
      border-radius: 20px;
    overflow: none;

    }
  .imageDiv img {
    display: inline-block;
    width: 270px;
    height: 230px;
    margin-top: 10px;
    object-fit: cover;
    background-size: cover;
    overflow: none;
    vertical-align: middle;
    border-radius: 20px;
  }

  .contentInfoDiv h2,
  h3 {
    margin-top: 10px;
    color: #eb3d00;
  }
}
